body {
  background-color: #e3f6f5;
  font-family: roboto;
}
h1 {
  text-align: center;
  font-size: 45px;
  color: #272343;
  font-family: "Michroma", sans-serif;
  font-weight: 600;
}
h2 {
  margin: 0 0 10px;
  font-size: 30px;
}
select {
  background-color: #fcfefe;
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
a {
  color: #272343;
}
.container {
  max-width: 600px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.city:last-child {
  border: none;
}
.date {
  color: rgba(0, 0, 0, 0.7);
}
.time {
  font-size: 40px;
  font-weight: bold;
}
.time small {
  font-size: 16px;
  vertical-align: middle;
  line-height: 40px;
}

footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
